<section class="ads-banner" style="justify-content:center; margin:0 auto;padding:1vw 0;">
    <div style="max-width: 1200px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- dfir.blog Ad Footer -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2039373177686277"
             data-ad-slot="2364659298"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</section>